/*
   VARIABLES
   ========================================================================== */

// Breakpoints
$baby-bear: 400px !default;
$mama-bear: 700px !default;
$papa-bear: 960px !default;
$mega-bear: 1280px !default;

// Colors
$blue: #3C5493 !default;
$yellow: #F7B114 !default;

$border-color: #ccc !default;
$link-color: $yellow !default;
$font-color: #333 !default;

// Typography
$sans: "Helvetica Neue", "Helvetica-Neue", Helvetica, "Open Sans", Arial, sans-serif !default;
$base-font-size: 1.5rem !default;

// Misc
$global-radius: 5px !default;