/* COMPONENTS - BUTTONS */

.button {
  display: inline-block;
  padding: 0.5em 1.5em;
  text-align: center;
  color: #fff !important;
  text-decoration: none;
  border-radius: $radius;
  transition: 0.2s all ease;

  @media (min-width: $baby) {
    font-size: 1.8rem;
  }

  &:hover {

  }
}