/* FORMS */

textarea,
input {
  &[type="email"],
  &[type="number"],
  &[type="search"],
  &[type="submit"],
  &[type="text"],
  &[type="tel"],
  &[type="url"],
  &[type="password"] {
    width: 100%;
    padding: 1em;
    color: $font-color;
    font-family: $body;
    appearance: none;
    border: 1px solid $border-color;
    border-radius: $radius;
    box-shadow: inset 0px 1px 3px rgba(0,0,0,0.1);
    transition: all 0.2s ease;
  }

  &::placeholder {
    color: lighten($font-color, 30%);
  }
}

textarea:focus,
input {
  &[type="email"]:focus,
  &[type="number"]:focus,
  &[type="search"]:focus,
  &[type="submit"],
  &[type="text"]:focus,
  &[type="tel"]:focus,
  &[type="url"]:focus,
  &[type="password"]:focus {
    border-color: darken($border-color, 20%);
    outline: 0;
  }
}

input[type="submit"] {
  text-transform: uppercase;
  color: #fff;
  background-color: $font-color;
}

input {
  &[type="checkbox"],
  &[type="radio"] {
    display: inline;
  }
}

select {
}

label,
legend {
  display: block;
}

fieldset {
  padding: 0;
}