/* VARIABLES */

// Breakpoints
$baby: 480px !default;
$mama: 769px !default;
$papa: 960px !default;
$mega: 1280px !default;

// Misc
$container-width: 960px;
$radius: 5px;

// Type
$body: ('Helvetica Neue', Arial, sans-serif);
$heading: ('Open Sans', 'Helvetica Neue', Arial, sans-serif);
$base-font-size: 1.6rem;

// Colours
$pink: hsl(329, 82%, 54%);
$teal: hsl(166, 57%, 49%);
$blue: hsl(212, 72%, 58%);
$dark-blue: hsl(212, 46%, 48%);
$navy: hsl(249, 15%, 33%);
$dark-navy: hsl(247, 25%, 13%);

$font-color: hsl(0, 0%, 32%);
$link-color: $pink;
$border-color: hsl(0, 0%, 83%);